name: Build Package

on: 
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    name: ${{ matrix.module }} Module Build
    strategy:
      fail-fast: false
      matrix:
        module: [EntityFoundation, UseCaseFoundation, GatewayFoundation, LoggerFoundation, UIFoundation, UtilityFoundation]
    runs-on: [macos-latest]
    steps:
      - name: "Checkout Repo"
        uses: actions/checkout@v4
      - name: Build
        run: swift build --target ${{ matrix.module }}

  test:
    name: Unit Tests
    runs-on: [macos-latest]
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4
      - name: Test
        run: swift test